@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dad4d2;
  font-family: "Lato", sans-serif;
  color: #928f8c;
}
h1 {
  font-size: 60px;
}
h1,
h2,
h3 {
  font-weight: bold;
  color: #0b0a0b;
}

p {
  line-height: 25px;
  margin: 20px 0px;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #0b0a0b #dad4d2;
  border-radius: 9999px;
}

html ::-webkit-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  width: 0.6vw;
}

html ::-webkit-scrollbar-thumb {
  background-color: #0b0a0b;
  background-clip: padding-box;
  border-radius: 9999px;
}

html ::-webkit-scrollbar-track {
  background-color: #dad4d2;
}

button,
a.more {
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  background-color: #0b0a0b;
  outline: 0;
  border: 0;
}

a.scrolltop {
  color: white;
  position: fixed;
  right: 15px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 7px;
  background-color: #fda915;
  border-radius: 0.4rem;
  z-index: 999;
  transition: 0.4s;
}
a.scrolltop svg {
  animation: myAnim 2s ease 0s infinite alternate both;
}
@keyframes myAnim {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 950px) {
  a.scrolltop {
    right: 5vh;
  }
}
@media screen and (max-width: 550px) {
  a.scrolltop {
    right: 3vh;
  }
}
